.inline{
    display: inline;
}
.orangetext{
    color: #FF7A64;
}
.whitetext{
    color: #FFFFFF;
}
@media (min-width: 1000px) {

    html{
        /* background-color: #242430; */
        background: linear-gradient(-45deg, #FF7A64, #242430);
        background-size: 400% 400%;
        animation: gradient 30s ease infinite;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

}

body{
    background-color: transparent;
}
.nocontainer{


    width: fit-content;
    height: fit-content;

    text-align: center;
    padding: 7px;

    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.container{
    background-color: #242440;
    
    width: fit-content;
    height: fit-content;

    text-align: center;
    padding: 7px;

    position:relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    box-shadow: inset 2px 2px 2px #FF7A64, inset -2px -2px 2px orange;

}
.topbox{
    margin-top: 10em;
}
@media (max-width: 1000px) {

    .topbox{
        margin-top: 2em;
    }
    html{
    background-color: #242430;
    }

}
.row-box{
    margin-top: 1em;
}
.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: relative;
  }
.dollar{
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: relative;
    margin-bottom: 9px;
}
.btn-link{
    background-color: #242430;
    border-color: transparent;
}